.imageBar {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	background-size: cover;
	background-position-y: center;
	background-image: url('../Images/ATDBackground.jpg');
}

.pageBoxBottom {
	position: absolute;
	top: 5%;
	bottom: 5%;
	left: 3%;
	right: 3%;
	background-color: #edede1;
	border: 5px solid #006EB8;
}

.pageBoxTop {
	position: absolute;
	top: 7%;
	bottom: 7%;
	left: 4%;
	right: 4%;
	background-color: #006EB8;
}

.atdBody {
	position: absolute;
	top: 12%;
	left: 10%;
	right: 10%;
}

	.atdBody h1 {
		font-size: 20vw;
		text-shadow: 1vw .3vw #6e0309;
		color: #edede1;
		font-family: Impact, Charcoal, sans-serif;
		line-height: 120%;
	}

	.atdBody h2 {
		font-size: 14vw;
		text-shadow: .3vw .3vw #6e0309;
		color: #edede1;
		font-family: Impact, Charcoal, sans-serif;
		line-height: 100%;
	}

	.atdBody h3 {
		font-size: 11vw;
		color: #edede1;
		font-family: Impact, Charcoal, sans-serif;
		line-height: 100%;
	}

	.atdBody h4 {
		font-size: 7vw;
		color: #edede1;
		font-family: Impact, Charcoal, sans-serif;
		line-height: 100%;
	}

	.atdBody h5 {
		font-size: 7vw;
		color: #edede1;
		font-family: Impact, Charcoal, sans-serif;
		line-height: 80%;
	}

	.atdBody h6 {
		font-size: 4vw;
		color: #edede1;
		font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
		line-height: 100%;
	}

	.atdBody h7 {
		font-size: 5vw;
		color: #000000;
		font-family: abel;
		line-height: 100%;
	}

	.atdBody h8 {
		font-size: 5vw;
		color: #edede1;
		font-family: Impact, Charcoal, sans-serif;
		line-height: 110%;
	}

	.atdBody h9 {
		font-size: 3vw;
		color: #edede1;
		font-family: abel;
		line-height: 80%;
	}

		.atdBody h10 {
		font-size: 6vw;
		color: #edede1;
		font-family: abel;
		line-height: 80%;
	}
.lineOne {
	text-align: center;
}

.lineTwo {
	top: 40%;
	text-align: center;
}

.lineThree {
	top: 55%;
	text-align: center;
}

.lineFour {
	top: 70%;
	text-align: center;
}

.lineFive {
	padding-top: 2vw;
	text-align: center;
}

.titleBox {
	position: fixed;
	top: 13%;
	width: 80%;
}

.title {
	position: relative;
	text-align: center;
}

.about {
	position: fixed;
	top: 20%;
	left: 5%;
	right: 5%;
}

.koryName {
	position: fixed;
	bottom: 48%;
	right: 11%;
}

.theAndersonsImg {
	position: fixed;
	top: 35%;
	bottom: 80%;
	left: 5%;
	right: 55%;
	background-color: black;
	opacity: .5;
	height: 50%;
	width: auto;
}

.theAndersonsTitle {
	position: fixed;
	top: 85%;
	left: 19%;
}

.theStaff {
	position: fixed;
	bottom: 10%;
	right: 20%;
	left: 20%;
}

.theStaffTitle {
	position: relative;
	text-align: center;
	margin-bottom: 1%;
}

.theStaffImageBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.theStaffImage {
	height: auto;
	width: 70vw;
}

.tableServices {
	position: fixed;
	top: 50%;
	left: 20%;
	right: 20%;
}

table {
	table-layout: fixed;
}

tr {
	width: 4vw;
	text-align: center;
}

img {
	width: auto;
	height: 100%;
}

/*@media (min-width: 768px) {
  .navbar-collapse {
	height: auto;
	border-top: 0;
	box-shadow: none;
	max-height: none;
	padding-left:0;
	padding-right:0;
  }
  .navbar-collapse.collapse {
	display: block !important;
	width: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
  }
  .navbar-collapse.in {
	overflow-x: visible;
  }

.navbar
{
	margin-right: 0;
	margin-left: 0;
	font-size: 4vw;
	text-align: center;
}	

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
	margin-right: 0;
}
}*/