<div class="titleBox">
    <h4 class="title">- Coverage -</h4>
</div>

<div class="about">
        <div class="leftColumn">
            <label for="googleMap" class="text-center">This is a rough map of our road side service area.</label>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d530711.0919173916!2d-95.4221739865834!3d47.53573998569025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbe!4v1441818466739" width="800" height="600" frameborder="0" style="border:0" allowfullscreen id="googleMap"></iframe>
        </div>
        <div class="rightColumn">
            <label for="partsCoverageArea">This is a rough map of our parts sales coverage area.</label>
            <img src="../../Images/andersonCoverageArea.png" alt="{{coverage.areas}}" id="partsCoverageArea">
        </div>

    <div class="bottomCenter">
        <h5 class="text-center">Call now for service, ordering or more details 218-694-6872</h5>
    </div>
</div>