<div class="titleBox">
    <h4 class="title">- Coverage -</h4>
</div>

<div class="about">
    <div class="leftColumn">
        <label for="googleMap" class="text-center">This is a rough map of our road side service area.</label>
        <div id="googleMap"></div>
    </div>
    <div class="rightColumn">
        <label for="partsCoverageArea">This is a rough map of our parts sales coverage area.</label>
        <img src="../../Images/andersonCoverageArea.png" alt="{{coverage.areas}}" id="partsCoverageArea">
    </div>

    <div class="bottomCenter">
        <h5 class="text-center">Call now for service, ordering or more details 218-694-6872</h5>
    </div>
</div>